ion-content{
	--background:#0491bf;
	--color: white;
}
.item-back{
	--background:#0491bf;
	--color: white;
}
.text-control{
	background: white;
	border-radius: 5px;
	color: black;
	border: 1px solid #c0c0c0;
	padding: 6px 12px;
	--padding-start: 5px;
	--padding-end: 5px;
}


.my-label {
  font-size: 25px;
  font-family: Airstream ITC;
}

.form-group{
	background: #032780;
}

.label-info{
	font-size: 15px;
}

.div-form{
	border: 1px solid white;
	margin: 5px;
	background: white;
	border-radius: 4px; 
}
ion-button{
	width: 100%;
}