.select-control{
	width: 100%;
	padding: 6px 12px;
	border-radius: 3px;
	border:1px solid #dfe0e0;
}
.select-control:hover{
	box-shadow: 0 0 5px #6298e5;
}
.select-control:focus{
	box-shadow: 0 0 5px #6298e5;
}

.text-control{
	width: 100%;
	padding: 6px 12px;
	border-radius: 3px;
	border:1px solid #dfe0e0;
}

.text-control:focus{
	box-shadow: 0 0 5px #6298e5;
}

.lista-curso{
	margin: 7px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
	background: white;
}