.lista-curso{
	margin: 7px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
	background: white;
}
.text-control{
	width: 100%;
	padding: 6px 12px;
	border-radius: 3px;
	border:1px solid #dfe0e0;
}