
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="asignarCurso" >
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Asinar Curso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="entrarCurso">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mis cursos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tickets">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Tickets</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>

</ion-content>
