.vscode/
Backend/node_modules/
Frontend/P2/.browserslistrc
Frontend/P2/.editorconfig
Frontend/P2/README.md
Frontend/P2/angular.json
Frontend/P2/e2e/
Frontend/P2/karma.conf.js
Frontend/P2/node_modules/
Frontend/P2/package-lock.json
Frontend/P2/package.json
Frontend/P2/tsconfig.app.json
Frontend/P2/tsconfig.json
Frontend/P2/tsconfig.spec.json
Frontend/P2/tslint.json
Frontend/P2/cordova
Frontend/P2/dist
Utilities
ModeloRelacional.pdf
Tecnico.*
Usuario.*